* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

body {
    background-color: #f5f5f5;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: #91d9dbad;
}

#chk1 {
    display: none;
}

div .logo {
    /* margin-left: -2rem; */
    border-radius: 28px;
    box-shadow: 0 0 10px #000;
}

i {
    color: #f5f5f5;
    cursor: pointer;
}

nav .logo {
    position: relative;
    left: -1.5rem;
    flex: 1;
    color: #f5f5f5;
    margin-left: 50px;
    text-transform: uppercase;
}

nav .search-box {
    flex: 1;
    position: relative;
    right: 2.5rem;
}

.search-box input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #f5f5f5;
    border-radius: 30px;
    color: #000;
    font-size: 1rem;
    text-align: center;
    padding: 0 1rem 0 1rem;
}

.search-box button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(1);
    background-color: #218B82;
}

nav > ul > li {
    position: relative;
    cursor: pointer;
    float: left;
}

nav ul {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    /* position: relative; */
    margin-right: 2.5rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-weight: 600;
    font-size: 1.1rem;
    text-shadow: 0 0 5px #000;
    text-decoration: none;
    color: #f5f5f5;
}

nav ul li a:hover {
    border-bottom: 4px solid #218B82;
}

nav ul li .login {
    text-shadow: none;
    padding: 5px 1rem;
    border-radius: 20px;
    color: #f5f5f5;
    background: #218B82;
    /* width: 5rem;
    font-size: 2rem; */
}

nav ul li .login:hover {
    background-color: #f5f5f5;
    color: #218B82;
}

nav .menu {
    display: none;
}

.dropdown {
    /* display: none;
    transform: translate(-50%); */
    position: absolute;
    top: 100%;
    left: 0;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    margin-top: .2rem;
    /* align-items: center; */
    /* padding: 1rem; */
    /* background-color: rgba(85, 136, 46, 0.707); */
}

.dropdown li {
    /* background-color: rgba(85, 136, 46, 0.403); */
    display: none;
    padding: .5rem;
}

.dropdown li:hover {
    background: #91D9DB;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
}

.dropdown li a:hover {
    text-decoration: none;
}

nav li:hover > .dropdown li {
    display: block;
}

nav li:hover > .dropdown {
    perspective: 1000px;
}

nav li:hover > .dropdown li {
    transform-origin: top center;
    opacity: 0;
}

nav li:hover > .dropdown li:nth-child(1) {
    animation: animate 300ms ease-in-out forwards;
    animation-delay: -150ms;
}

nav li:hover > .dropdown li:nth-child(2) {
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 0ms;
}

nav li:hover > .dropdown li:nth-child(3) {
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 150ms;
}

nav li:hover > .dropdown li:nth-child(4) {
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 300ms;
}

nav li:hover > .dropdown li:nth-child(5) {
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 450ms;
}

/* NAVBAR RESPONSIVENESS */


@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateX('-90deg');
    }
    50% {
        transform: rotateX('20deg');
    }
    100% {
        opacity: 1;
        transform: rotateX('0deg');
    }
}

@media(max-width:1024px) {
    html {
        /* overflow: hidden; */
    }
    body {
        width: 1024px;
    }
    .search-box {
        /* display: none; */
        margin-right: -3rem;
    }
    .search-box button {
        position: absolute;
    }
    nav {
        overflow-x: hidden;
    }
    nav ul {
        margin-right: 0;
        position: fixed;
        top: 72px;
        right: -200%;
        /* background: rgba(85, 136, 46, 0.403); */
        background: #A6E0E2;
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
        
    }
    nav .menu {
        margin-right: 2rem;
        display: block;
    }
    #chk1:checked ~ ul {
        right: 0;
    }
    .description {
        position: absolute;
        top: 50%;
        left: 60px;
        transform: translateY(-50%);
     }
}

@media(max-width: 600px) {
    nav ul {
        margin-right: 0;
        width: 70%;
    }
    nav .menu {
        margin-right: 2rem;
    }

    /* ENROLLMENT */
    .enrollment-sec {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffff;
        margin: 0 2rem 6rem;
        padding: 0 4rem 2rem;
    }
}
